.menu {
  --font-color: black;
  background-color: var(--accent-color);
  padding-left: 0.25em;
  border-radius: 5px;

  color: var(--font-color);

  white-space: nowrap;
  user-select: none;
  position: relative;
}

.label {
  width: 100%;
  text-align: center;
}

.content {
  background-color: inherit;
  min-width: max-content;
  width: 100%;

  border-radius: 5px;

  position: absolute;
  left: 50%;
  translate: -50%;
}

.marker {
  height: 1.2em;
  fill: var(--font-color);
  vertical-align: sub;

  transition: transform 200ms;
}

.marker.dropped {
  transform: rotate(90deg);
}

.content {
  transition:
    transform 200ms ease-in,
    opacity 200ms ease-in;
  transition-delay: 100ms, 0ms;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
}

.content.dropped {
  transition-timing-function: ease-out, ease-out;
  transition-delay: 0ms, 100ms;
  opacity: 1;
  transform: scaleY(1);
}
