.page {
  max-width: var(--main-strip-width);
  margin: 0 auto; /* to center content, shrinks as side-effect*/
  width: 100%; /* to revert shrinking */

  padding: 2em 0.5em;
}

.controls {
  margin-bottom: 1em;

  /* display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; */
}

.noWrap {
  white-space: nowrap;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
}
