.page {
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  gap: 2em;
}

@media (width>=1024px) {
  .page {
    grid-template-columns: 1fr 3fr;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1em;
}

.img-container {
  aspect-ratio: 1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
