.page {
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.checkout-layout {
  display: grid;
  grid-template-columns: min-content 1fr 8ch 120px;
  grid-auto-rows: 96px;
  align-items: center;

  gap: 0.5em;
}

.checkout-button {
  background-color: var(--accent-color);
  grid-column-start: -2;
  grid-column-end: span 1;

  white-space: nowrap;
}

.checkout-total-label {
  grid-column-start: -4;
  grid-column-end: span 1;
  justify-self: self-end;
}

.checkout-total-number {
  font-weight: bold;

  grid-column-start: -3;
  grid-column-end: span 1;
  justify-self: start;
}

/* .card button {
  padding: 0.3em;
  line-height: 0;
  border-radius: 50%;
  width: 2em;

  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    min-width: 0;
    min-height: 0;
  }
} */
