.quantity-input {
  --pill-radius: 999px;
  background-color: #1a1a1a;
  border-radius: var(--pill-radius);
  display: inline-flex;
  width: 100%;

  > input,
  > button {
    flex-grow: 1;
  }
}

.quantity-input input {
  background-color: transparent;
  border: none;
  text-align: center;
  
  min-width: 3.5ch;
  width: 0;
}

.quantity-input button {
  background-color: transparent;
  padding: 0;
  min-width: 2em;
  width: 0;

  &:first-child {
    border-top-left-radius: var(--pill-radius);
    border-bottom-left-radius: var(--pill-radius);
  }

  &:last-child {
    border-top-right-radius: var(--pill-radius);
    border-bottom-right-radius: var(--pill-radius);
  }
}

.accentuated {
  background-color: var(--accent-color);
}

.quantity-input .quantity-input button

/* Remove arrows off input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: initial;
}
