@font-face {
  font-family: "Bebas Neue";
  src:
    url("/fonts/bebasneue-regular-webfont.woff2") format("woff2"),
    url("/fonts/bebasneue-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* || General styles */

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* || Typography */

/* … */

/* || Header and Main Navigation */

/* || UTILITIES */

.no-bullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* || SITEWIDE */

html,
body,
#root {
  height: 100%;
}

#root {
  /* max-width: 1280px; */
  display: flex;
  flex-direction: column;
  > *:nth-child(2) {
    flex-grow: 1;
  }
}

html {
  --half-second: 500ms;
  --quarter-second: 250ms;
  --base-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.15);
  --accent-color: rgb(153, 133, 233);
  --main-strip-width: 700px;
}
