.card {
  border-bottom: 0.5px solid #6666;

  height: 96px;
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
}

.card_img {
  box-sizing: border-box;
  aspect-ratio: 1;
  height: 100%;

  padding: 1em 0;
  > img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
}

.card_title {
  font-size: 0.75rem;
  flex-grow: 1;
  overflow: hidden;
  max-height: 100%;
  text-overflow: ellipsis;
}

.card_price {
  flex-shrink: 0;
  font-weight: bold;
  justify-self: left;
  text-align: right;
  width: 7ch;
}

.card_input {
  grid-column-start: -2;
  grid-column-end: span 1;
  width: 60px;
}
