

.product {
  border-bottom: 0.5px solid #6666;

  padding: 1em 0;
  composes: flex-row-center from "@commonStyles/flex.module.css";
  gap: 1em;
}

.productImg {
  flex-shrink: 0;
  box-sizing: border-box;
  max-height: 96px;
  aspect-ratio: 1;
  > img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
}

.productTitle {
  font-size: 0.75rem;
  flex-grow: 1;
}

.productInput {
  composes: flex-column-center from "@commonStyles/flex.module.css";
  justify-content: flex-end;
}

.productPrice {
  font-weight: bold;
}

@media (width <= 480px) {
  .product {
    flex-direction: column;
  }
  .productTitle {
    text-align: center;
  }
}
