.card {
  background-color: var(--background-color, #fff2);
  box-shadow: var(--base-shadow);
  border-radius: 5px;

  padding: 1em;
}

.accentuated {
  background-color: var(--accent-color);
  color: black;
}
