.product {
  composes: card from "@commonStyles/card.module.css";

  padding: 1em;
  display: grid;
  grid-template:
    "img   img"
    "title title" 1fr
    "price price"
    "rate  count"
    "input input"
    / 1fr 3ch;
  gap: 0.25em 0.5em;
}

.productImg {
  grid-area: img;
  aspect-ratio: 1;

  composes: flex-row-center-center from "@commonStyles/flex.module.css";
  padding: 1em;
  > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.productTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8em;

  grid-area: title;
  line-height: 1.5;
  height: 4.5em;
}

.productPrice {
  font-weight: bold;

  grid-area: price;
}

.productRate {
  grid-area: rate;
}

.productReviewCount {
  align-self: self-end;
  font-size: 0.8rem;
  grid-area: count;
}

.productInput {
  grid-area: input;
}
