.navbar {
  color: black;
  background-color: rgb(184, 110, 110);
  min-height: 64px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-content: space-between;
}

.transparent {
  color: white;
  background-color: transparent;
}

.navbar a {
  color: inherit;
}

/* .navbar {
  transition:
    background-color var(--quarter-second),
    color var(--quarter-second);
} */
